a {
  color: #82b641;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-speaker figure img {
  border-radius: 4px;
  transition: all 1s ease;
}

.event-speaker .speaker-name {
  font-family: "Open Sans", monospace;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 24px 0 6px;
  color: #002569;
}

.event-speaker .bttn {
  position: absolute;
  left: 50%;
  top: 57%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.owl-wrapper-outer {
  margin-bottom: 1.5em;
}

.speaker-slider .item {
  margin: 3px;
}

img {
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.social-links li {
  display: inline-block;
  padding-right: 0.8em;
}

.social-links li:last-child {
  padding-right: 0;
}

.social-links li a {
  display: block;
  transition: all 0.3s ease-in-out;
  font-size: 1.3em;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #f82249;
}

.social-links li a:hover {
  color: #002569;
}

img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.speaker-title {
  font-family: "Hind", sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-transform: uppercase;
  color: #002569;
}

.section-title-sub {
  font-size: 25px;
  font-weight: 200;
}

#speakers {
  min-height: 100vh;
  padding: 100px 0;
  position: relative;
  background-color: #f9fafc;
}

#event-sponsors {
  width: 100%;
  height: 57px;
  position: absolute;
  bottom: 0;
}
