<section id="about">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2  id="abt-txt-title" class="txt-title">Ng-SriLanka Conference 2019 </h2>
            <h3 class="cmb-title">Colombo</h3>
          </div>   
        </div>
      
        <div class="row">
          <div class="col-md-12 mrg-top">
            <h6 class="txt-title-sub">ng-SriLanka is the cardinal event organized by the Angular community of SriLanka.</h6>
          </div>
        </div>
      
        <div class="row">
            <div class="row justify-content-center mt30">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="icon_box_one">
                        <i class="lnr lnr-mic"></i>
                        <div class="content">
                            <h4>16 TALKS</h4>
                            <p>Code based talks and hands-on sessions on Angular and JavaScript</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="icon_box_one">
                        <i class="lnr lnr-rocket"></i>
                        <div class="content">
                            <h4>SINGLE DAY</h4>
                            <p>11 Hours of in-depth learning in Angular and JavaScript</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="icon_box_one">
                        <i class="lnr lnr-bullhorn"></i>
                        <div class="content">
                            <h4>16 SPEAKERS</h4>
                            <p>Internationally recognized speakers and local industry experts share their expertise</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="icon_box_one">
                        <i class="lnr lnr-users"></i>
                        <div class="content">
                            <h4>800+ DELEGATES</h4>
                            <p>Industry experts, Enthusiastic developers, Project managers and Product makers networking and learning together</p>
                        </div>
                    </div>
                </div>
            </div>
          </div> 
        </div>
        <div id="speaker"></div>   
</section>
