footer {
  padding: 50px 0 100px;
  background-color: #0b031b;
}
footer .footer_box {
  position: relative;
  margin-top: 50px;
}
footer .footer_box h4.footer_title {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 18px;
  color: #ffffff;
}
footer .footer_box h4.footer_title:before {
  width: 30px;
  content: " ";
  position: absolute;
  border-top: solid 3px #f50136;
  left: 0;
  top: 0;
}
footer .footer_header {
  margin-bottom: 30px;
}

.copyright_footer {
  background-color: #080113;
  padding: 15px;
}
.copyright_footer p {
  font-size: 13px;
  padding: 10px;
  text-transform: capitalize;
  color: #ffffff;
}
.copyright_footer ul.footer_menu {
  padding: 0;
  margin: 0;
  list-style: none;
  direction: rtl;
}
.copyright_footer ul.footer_menu li {
  display: inline-block;
}
.copyright_footer ul.footer_menu li a {
  padding: 10px;
  text-transform: capitalize;
  color: #838383;
}
.copyright_footer ul.footer_menu li a:hover {
  color: #ffffff;
}

.footer_title {
    color: #ffffff;
}

.footer-image {
    width: 14em;
}

@media (max-width: 767px) {
  .copyright_footer {
    text-align: center;
  }
}

@media (max-width: 767px) {
    .footer-image {
        margin-bottom: 2em;
    }
    .footer_title {
        margin-top: 2em;
    }
  }