<section id="footer-section">
  <footer>
    <div class="container">
      <div class="row title-row">
        <div class="col-md-12">
          <p class="social-media-title">
            follow us
          </p>
        </div>
      </div>
      <hr />
      <div class="row social-media-row">
        <div class="col-sm-6">
          <img
            src="../../../assets/images/logo/ng-logo.png"
            alt="ng-srilanka"
            class="img-responsive footer-image"
          />
        </div>
        <div class="col-sm-6">
          <app-social-icons-component></app-social-icons-component>
        </div>
      </div>
      <div class="row email-row">
        <div class="col-md-12">
          <p class="email-contact">
            Get in touch with us
            <span class="email">organizer@ng-srilanka.com</span>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright_footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-12">
          <p>Copyright &copy; All rights reserved</p>
        </div>
        <div class="col-12 col-md-6 ">
          <ul class="footer_menu">
            <li>
              <a href="#location">Venue</a>
            </li>
            <li>
              <a href="#sponsors">Sponsors</a>
            </li>
            <li>
              <a href="#speakers">Speakers</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
