<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-blue ">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="navbar-brand" href="#"><img class="navbar-brand"  height="30" src="./../../../../assets/images/logo.png"/></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-event">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#speaker">Speakers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#event-sponsors">Sponsors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#location">Venue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      
    </ul>
    <ul class="navbar-nav">
      <li class="buy-tickets">
        <a href="#tickets">RSVP</a>
      </li>
    </ul>
  </div>
</nav>
