<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-blue ">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="navbar-brand" href="#"><img class="navbar-brand"  height="30" src="./../../../../assets/images/logo.png"/></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="landing#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="landing#about-event">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="landing#speaker">Speakers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="landing#event-sponsors">Sponsors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="landing#location">Venue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="landing#contact">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="buy-tickets">
        <a href="landing#tickets">RSVP</a>
      </li>
    </ul>
  </div>
</nav>
