<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-blue ">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="navbar-brand" href="#"><img class="navbar-brand"  height="30" src="./../../../../assets/images/logo.png"/></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" (click)="navigateTo('/', 'home')">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateTo('/', 'about')">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateTo('speakers', 'speakers')"
          >Speakers</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateTo('/', 'sponsors')">Sponsors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateTo('/', 'venue')">Venue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateTo('/', 'footer-section')"
          >Contact</a
        >
      </li>
    </ul>
    <!-- <ul class="navbar-nav">
      <li class="buy-tickets">
        <a href="" target="blank">RSVP</a>
      </li>
    </ul> -->
  </div>
</nav>
