<section class="venue section-spacing" id="venue">
  <div class="venue-bg">
    <div class="overlay">
      <div class="container">
        <div class="row event-details-icon">
          <div class="col-md-4">
            <p><i class="fa fa-clock-o"></i></p>
          </div>
          <div class="col-md-4">
            <p class="address-icon"><i class="fa fa-map-marker"></i></p>
          </div>
          <div class="col-md-4">
            <p><i class="fa fa-calendar"></i></p>
          </div>
        </div>
        <div class="row event-details">
          <div class="col-md-4 date-time">
            <p class="res-icons"><i class="fa fa-clock-o"></i></p>
            <p class="time-text">08.00AM - 05.00PM</p>
          </div>
          <div class="col-md-4 venue-sec">
            <p class="res-icons"><i class="fa fa-map-marker"></i></p>
            <address>
              <p>NSBM Green University Town, Pitipana, Homagama</p>
              <p class="map-link ">
                <a
                  target="_blank"
                  href="https://www.google.com/maps/place/NSBM+Green+University/@6.8211381,80.0408951,15z/data=!4m5!3m4!1s0x0:0xddb466719c0595db!8m2!3d6.8211381!4d80.0408951"
                  >Get Location</a
                >
                |
                <a data-toggle="modal" data-target=".bd-example-modal-xl">
                  View Location
                </a>
              </p>
            </address>
          </div>
          <div class="col-md-4 date-time">
            <p class="res-icons"><i class="fa fa-calendar"></i></p>
            <p class="date-text">14<span>th</span> SEPTEMBER, 2019</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade bd-example-modal-xl"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">NSBM Green University</p>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid venue-gallery-container">
            <div class="row no-gutters">
              <div class="col-lg-3 col-md-4" *ngFor="let url of venueImageUrl">
                <div class="venue-gallery">
                  <a href="{{ url }}" class="venobox" data-gall="venue-gallery">
                    <img src="{{ url }}" alt="" class="img-fluid" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</section>
