<section class="venue section-spacing" id="venue">
    <div class="container">
      <div class="row">
        <div class="col-md-5 venue-sec p-4 m-auto">
          <h2>The Venue</h2>
          <address>
          <p> <i class="fa fa-map-marker"></i> NSBM Green University Town, Pitipana, Homagama</p>
          <p ><i class="fa fa-mobile"></i>(+94)77 330 4035</p>
          <p class="map-link "><a target="_blank" href="https://www.google.com/maps/place/NSBM+Green+University/@6.8211381,80.0408951,15z/data=!4m5!3m4!1s0x0:0xddb466719c0595db!8m2!3d6.8211381!4d80.0408951">View on Google Maps</a></p>
          </address>
        </div>
        <div class="col-md-7"> 
          <div class="map">
            <div id="map-canvas">
                
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div id="tickets"></div>
  </section>