<section id="buy-tickets">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Get your tickets</h2>
      </div>
    </div>

      <div class="row justify-content-center align-items-center">
          <div class="col-md-9 text-md-left text-center color-light">
             Get your tickets now
          </div>
          <div class="col-md-3 text-md-right text-center">
              <a href="#" class="btn btn-primary btn-rounded mt30">buy now</a>
          </div>
      </div>
  </div>
  <div id="contact"></div>
</section>