<section id="videos-cont">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <iframe
          width="420"
          height="236.25"
          src="https://www.youtube.com/embed/Xbb_BMtc4Y4"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-6">
        <iframe
          width="420"
          height="236.25"
          src="https://www.youtube.com/embed/WrKuia5_BUE"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 more-btn">
        <a
          class="btn btn-primary"
          href="https://youtu.be/WrKuia5_BUE"
          target="blank"
        >
          View More &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
        <a class="btn btn-primary" [routerLink]="['/speakers']">
          View Speakers &nbsp;<i
            class="fa fa-arrow-right"
            aria-hidden="true"
          ></i>
        </a>
      </div>
    </div>
  </div>
</section>
