<section id="home" class="img-fluid">
  <div class="content-middle">
    <div class="container">
      <div class="row logo-cont">
        <div class="col-md-12">
          <img id="main-logo" src="../../../assets/images/logo/ng-logo.png" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p id="main-text">
            Witness the first ever Angular<br />conference in Srilanka
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 reg-btn">
          <a href="#about">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
