<section id="home" class="img-fluid">
    <div class="content-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <picture>
                    <source srcset="../../../assets/images/logo/ng-logo.webp" type="image/webp">
                    <img id="main-logo" src='../../../assets/images/logo/ng-logo.png' />
                </picture>    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p id="main-text">SriLanka's first ever<br>Angular conference</p>
                </div>
            </div>
        </div>
        <app-mailchimp-form></app-mailchimp-form>
    </div>
    <div id="about-event"></div>
</section>