<section id="home" class="img-fluid">

    <div class="content-middle">
            <div class="container">
                    <div class="row">
                        <div class="col-sm-12">   
                            <h1><span>NG</span>SriLanka 2019 </h1>
                        </div>
                            <div class="col-sm-12">
                                <p>Sri Lanka's first ever Angular Conference</p>
                            </div>     
                        </div>
                    </div>
            
                <app-social-icons-component></app-social-icons-component>
            
                <app-mailchimp-form></app-mailchimp-form>
            
    </div>
    <div id="about-event"></div>
</section>