input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 9px 20px;
  font-size: 14px;
  font-family: "Open Sans", monospace;
  background: rgb(249, 249, 255);
  color: #1f1f1f;
  margin: 10px 0;
  padding: 9px 10px;
  border-radius: 0;
}

#subscribe button {
  width: 60%;
  background: #f50136 !important;
  border: #f50136;
  height: 45px;
  font-family: "Open Sans", monospace;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid #003aa5;
  border-radius: 0;
}

#subscribe button:hover {
  background: #a1001e !important;
  border: #a1001e;
  cursor: pointer;
}

h3.hero-text {
  color: rgb(54, 54, 54);
  margin: auto;
}

#subscribe {
  max-width: 400px;
  margin: 0 auto;
}

@media only screen and (max-device-width: 480px) {
  #subscribe {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media only screen and (max-device-width: 480px) {
  h3.hero-text {
    font-size: 1.4rem !important;
  }
}
