<section id="agenda">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p id="abt-txt-title" class="txt-title">Agenda</p>
        <p class="txt-title-sub">
          Here is our event agenda, Plan you track and get ready
        </p>
      </div>
    </div>

    <div class="container wow fadeInUp">

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#stacked" role="tab" data-toggle="tab">STACKED</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sandwich1" role="tab" data-toggle="tab">SANDWICH 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sandwich2" role="tab" data-toggle="tab">SANDWICH 2</a>
        </li>
      </ul>

      <div class="tab-content row justify-content-center">


        <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="stacked">

          <div class="row agenda-item">
            <div class="col-md-2"><time>08:30 - 09:00</time></div>
            <div class="col-md-10">
              <h4>Registration</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>09:00 - 09:00</time></div>
            <div class="col-md-10">
              <h4>Welcome Address & National Anthem</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>09:15 - 10:00</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/speaker-default.jpg" alt="Hubert Hirthe">
              </div>
              <h4>Opening Keynote</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>10:00 - 10:30</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/jecelyn.jpg" alt="Jecelyn Yeen">
              </div>
              <h4>Building a Fast & SEO Friendly SPA with Angular - <span>Jecelyn Yeen</span></h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>10:30 - 10:55</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/speaker-default.jpg" alt="">
              </div>
              <h4>Web components with Angular elements</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>10:55 - 11:10</time></div>
            <div class="col-md-10">
              <h4>Morning Tea Break</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>11:10 - 11:35</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/nishugoel.jpeg" alt="Nishu Goel">
              </div>
              <h4>Creating Libraries in Angular - <span>Nishu Goel</span></h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>11:35 - 12:10</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/mohuk.jpg" alt="Mohammad Umair Khan">
              </div>
              <h4>Containerizing Angular with Docker - <span>Mohammad Umair Khan</span></h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>12:10 - 12:40</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/anchal.jpg" alt="Anchal Bhandari">
              </div>
              <h4>CLeveraging Angular Schematics for Development - <span>Anchal Bhandari</span></h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>12:40 - 13:20</time></div>
            <div class="col-md-10">
              <h4>Lunch Break</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>13:20 - 13:45</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/pankajparkar.jpg" alt="Pankaj Parkar">
              </div>
              <h4>Simplified PWA with Ionic - build amazing cross-platform apps, with the web Change Detection - <span>Pankaj Parkar</span></h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>13:45 - 14:20</time></div>
            <div class="col-md-10">
              <h4>Entertainment</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>14:20 - 14:45</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/speaker-default.jpg" alt="">
              </div>
              <h4>Scaffold an Enterprice App in 10 minutes</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>14:45 - 15:05</time></div>
            <div class="col-md-10">
              <h4>Evening Tea Break</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>15:10 - 15:35</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/speaker-default.jpg" alt="">
              </div>
              <h4>Component Communicaiton in Angular</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>15:35 - 16:05</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/santoshyadav.jpg" alt="Santosh Yadav">
              </div>
              <h4>Getting Started with NgRx - <span>Santosh Yadav</span></h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>16:05 - 16:25</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/srashti.jpg" alt="Srashti Jain">
              </div>
              <h4>Demo on Lazy Loading in Angular 8 - <span>Srashti Jain</span></h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>16:25 - 16:45</time></div>
            <div class="col-md-10">
              <h4>Prize Giving</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>16:45 - 17:15</time></div>
            <div class="col-md-10">
              <h4>Vote of Thanks</h4>
            </div>
          </div>

        </div>


        <div role="tabpanel" class="col-lg-9  tab-pane fade" id="sandwich1">

          <div class="row agenda-item">
            <div class="col-md-2"><time>08:30 - 09:00</time></div>
            <div class="col-md-10">
              <h4>Registration</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>09:00 - 09:00</time></div>
            <div class="col-md-10">
              <h4>Welcome Address & National Anthem</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>09:15 - 10:00</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/speaker-default.jpg" alt="Hubert Hirthe">
              </div>
              <h4>Opening Keynote</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>10:00 - 12:40</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/pankajparkar.jpg" alt="Pankaj Parkar">
              </div>
              <h4>N things that Angular dev should know - <span>Pankaj Parkar</span></h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>12:40 - 13:20</time></div>
            <div class="col-md-10">
              <h4>Lunch Break</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>13:20 - 16:25</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/speaker-default.jpg" alt="">
              </div>
              <h4>Building production friendly Angular apps that could be deployed as containers to multiple environments<span></span></h4>
            </div>
          </div>

        </div>


        <div role="tabpanel" class="col-lg-9  tab-pane fade" id="sandwich2">

          <div class="row agenda-item">
            <div class="col-md-2"><time>08:30 - 09:00</time></div>
            <div class="col-md-10">
              <h4>Registration</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>09:00 - 09:00</time></div>
            <div class="col-md-10">
              <h4>Welcome Address & National Anthem</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>09:15 - 10:00</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/speaker-default.jpg" alt="Hubert Hirthe">
              </div>
              <h4>Opening Keynote</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>10:30 - 12:40</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/speaker-default.jpg" alt="">
              </div>
              <h4>Micro-frontends: A Deep Dive<span></span></h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>12:40 - 13:20</time></div>
            <div class="col-md-10">
              <h4>Lunch Break</h4>
            </div>
          </div>

          <div class="row agenda-item">
            <div class="col-md-2"><time>13:20 - 16:25</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="../../../assets/images/speakers/speaker-default.jpg" alt="">
              </div>
              <h4>Server-side Rendering (SSR): An intro to Angular Universal - Angular<span></span></h4>
            </div>
          </div>

        </div>

      </div>
    </div>

    
    </div>
</section>