<div class="container">
    <div class="social-links">
        <a href="https://twitter.com/ngslconf" class="twitter" target="blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/ngslconf/" class="facebook" target="blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/ngslconf/?hl=en" class="instagram" target="blank">
          <i class="fa fa-instagram"></i>
        </a>
        <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> -->
        <a href="https://www.linkedin.com/company/ng-sl/" class="linkedin" target="blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
</div>
